[submodule "libs/box2d-linc"]
	path = libs/box2d-linc
	url = https://github.com/DanielUranga/box2d-linc.git
[submodule "libs/hxbit"]
	path = libs/hxbit
	url = https://github.com/ncannasse/hxbit.git
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/openfl/box2d.git
[submodule "libs/haxe-concurrent"]
	path = libs/haxe-concurrent
	url = https://github.com/vegardit/haxe-concurrent.git
